#beach-background {
  background: url("/assets/images/beach.jpg");
  min-height: 45vh;
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
}

#beach-text {
  background: white;
  width: fit-content;
  padding: 20px;
  margin-left: 5%;
  align-self: center;
}

#beach-text ul {
  margin: 0;
}

#popular-articles {
  font-size: 1.3em;
  font-weight: 700;
}

