@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --red: #ff0019;
  --blue: #02529c;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 30px 0;
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  padding: 0;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0 20px 20px 20px;
  align-items: center;
}

header img {
  height: 3em;
  width: fit-content;
  object-fit: contain;
}

header div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.img-credit {
  position: absolute;
  right: 10px;
  bottom: 0;
  font-size: 1em;
  font-weight: 300;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: inherit;
  border: 2px solid var(--blue);
  border-radius: 10px;
  padding: 5px;
  flex-grow: 1;
  text-align: center;
  font-weight: 600;
}

nav a:hover {
  background: var(--blue);
  color: white;
}
