<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | relative_url }}">
    <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">

    {% if page.style %}
    <link rel="stylesheet" href="{{ page.style }}">
    {% endif %}
</head>

<body>
    {% include header.html %}

    <main>
        {{ content }}
    </main>

    {% include footer.html %}
</body>

</html>